body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Добавляем автоматический отступ слева и справа, чтобы выровнять форму по центру */
  }
  
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 95%; /* Растягивает ввод на всю ширину родительского блока */
    /* или */
      padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px; 
  }
  
  .parent-container {
    text-align: center; /* Выравнивание содержимого по центру */
  }
  
  button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }



  /* Reset стандартных стилей браузера для более предсказуемого отображения */
* {
  box-sizing: border-box;
  margin: 10;
  padding: 10;
}

/*Выделение текста мышкой*/
::selection {
  background: #0f2714ec; /* Safari */
  color: white; /* For selecting text color */
}
::-moz-selection {
  background: #0f2714ec; /* Firefox */
  color: white; /* For selecting text color */
}
::-ms-selection {
  background: #0f2714ec; /* Firefox */
  color: white; /* For selecting text color */
}


body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
min-height: 50vh; /* чтобы кнопки не перекрывали контент */
background-color: #f4f4f4; /* Светло-серый фон */
color: #333; /* Темный текст */
max-width: 500px; /* Максимальная ширина страницы */
margin: 0 auto; /* Центрирование страницы по горизонтали */
line-height: 1.5;
}


.container {
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
text-align: center;
}

.bottom-menu {
position: fixed; /* Зафиксировать кнопки внизу при прокрутке */
bottom: 0;
left: 50%; /* Помещаем в середину */
transform: translateX(-50%); /* Центрируем горизонтально */
width: 100%;
max-width: 500px; /* Максимальная ширина 600px */
background-color: #f2f2f2;
display: flex;
justify-content: space-evenly; /* равномерное распределение кнопок */
padding: 10px 0;
z-index: 1000; /* Позволяет кнопкам оставаться поверх другого контента */
background-color: #102727; 
}

.bottom-menu button {
  background-color: #102727;
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: flex; /* Использовать flexbox */
  flex-direction: column; /* рассположение элементов по вертикали */
  align-items: center; /* выравнивание элементов по центру */
  justify-content: center; /* выравнивание элементов по центру */
  font-size: 9px;
  cursor: pointer;
  padding: 5px 5px;
  border-radius: 10px;
  width: 70px; /* задаем фиксированную ширину кнопок */
  height: 45px; /* задаем фиксированную высоту кнопок */
}

.bottom-menu button img {
  margin-bottom: 5px; /* добавляем отступ снизу для размещения иконки поверх текста */
  height: 20px;
  width: 20px;
}

.bottom-menu a {
  text-decoration: none; /* убираем подчеркивание текста на ссылках внутри .bottom-menu */
}



/* Медиа-запрос для мобильных устройств */
@media (max-width: 600px) {
.container {
  max-width: 100%; /* Устанавливаем максимальную ширину для мобильных устройств */
}

.about, .services, .membership {
  max-width: 100%; /* Устанавливаем максимальную ширину для мобильных устройств */
  padding: 0 10px; /* Уменьшаем отступы для мобильных устройств */
}
}


header { 
  background-color: #102727; /* Темно-зеленый фон для шапки */
  color: #FFF; /* Белый текст */
  text-align: center;
  padding: 30px 0;
}

header h1 {
  font-size: 3em;
}

header p {
  font-size: 1.5em;
}

section {
  padding: 10px;
  margin: 20px 0; 
}

.about {
  background-color: #FFF; /* Белый фон для раздела "О нас" */
  max-width: 1100px; /* Здесь можно задать любое желаемое значение */
  margin: 0 auto; /* Центрирует блок по горизонтали */
  padding: 1px 10px; /* Оступы сверху/снизу 20px, слева/справа 30px */
  border-radius: 15px; /* Добавляем закругление краев */
  background-color: #FFF; /* Установим цвет фона для отличия блока от остального контента */
  text-align: left; /* Выравнивание текста слева */
}
  

.services, .membership {
  background-color: #e6e6e6; /* Светло-серый фон для других разделов */
  max-width: 1100px; /* Здесь можно задать любое желаемое значение */
  margin: 0 auto; /* Центрирует блок по горизонтали */
  padding: 0 20px; /* Добавляет отступы, чтобы контент не касался краев окна браузера */
}

.GeneralText{
  text-align: center;
  max-width: 600px;
  display: block; /* Делает изображение блочным элементом */
  margin: 0 auto; /* Центрирует изображение по горизонтали */
}

.centered-image {
  display: block; /* Делает изображение блочным элементом */
  margin: 0 auto; /* Центрирует изображение по горизонтали */
}


footer {
  background-color: #102727; /* Темно-зеленый фон для подвала */
  color: #FFF; /* Белый текст */
  text-align: center;
  padding: 20px 0;
  position: absolute;  /* Помещаем подвал внизу страницы */
  bottom: 0;  /* Размещаем подвал внизу страницы */
  width: 100%; /* Обеспечиваем ширину подвала на всю ширину страницы */
  }



/* ДИЗАЙН ДЛЯ КНОПКИ TON CONNECT  */

#ton-connect {
  position: fixed; /* Изменено на fixed чтобы элемент оставался на месте при прокрутке */
  bottom: 85%; /* Устанавливаем расстояние от нижнего края */
  left: 50%; /* Устанавливаем начальное горизонтальное положение */
  transform: translateX(-50%); /* Центрируем кнопку по горизонтали */
  text-align: center; /* Центрируем содержимое кнопки */
  }
  
  
#ton-connect > button {
font-size: 16px;
display: inline-block; /* Делаем кнопку блочным элементом для удобного центрирования */
}
  
#ton-connect > button > span {
display: none; /* Скрыть оригинальный текст на кнопке */
}
  