body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background-color: #f4f4f4;
  }

  .slidecontainer {
    position: fixed; /* позиционируем постоянно */
    left: 20px; /* изначальная позиция слева */
    top: 50%; /* размещаем сверху на 50% высоты окна */
    z-index: 1001; /* позволяет элементу оставаться поверх других */
    transition: left 0.3s; /* добавляем плавное анимирование при изменении позиции */
}

/* другие стили */

  
  .toggle-switch {
    position: relative;
    margin: 20px 0;
  }
  
  .checkbox {
    display: none;
  }
  
  .toggle {
    width: 300px; /* изменение ширины всего элемента-переключателя */
    height: 34px;
    background-color: #ccc;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
  }
  
  .toggle-handle {
    width: 150px; 
    height: 30px;
    border-radius: 15px; /* изменение радиуса скругления углов */
    background-color: #fff;
    transform: translateX(0);
    transition: transform 0.3s;
  }
  
  .visible {
    display: block;
  }
  
  .info {
    display: none;
    text-align: left;
  }
  
  #switch:checked+.toggle .toggle-handle {
    transform: translateX(100%);
  }
  
  #switch:checked~#guildInfo {
    display: none;
  }
  
  #switch:checked~#achievementInfo {
    display: block;
  }

  .switch-text-left, .switch-text-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    color: #555;
    display: inline-block; /* Размещение текста внутри label в виде блока */
  }
  
  .switch-text-left {
    left: 25%; /* Положение "Гильдейцы" с левой стороны */
    transform: translateX(-50%) translateY(-50%); /* Центрирование "Гильдейцы" по горизонтали и вертикали */
  }
  
  .switch-text-right {
    right: 25%; /* Положение "Достижения" с правой стороны */
    transform: translateX(50%) translateY(-50%); /* Центрирование "Достижения" по горизонтали и вертикали */
  }



  /* Часть для Кнопок ВНИЗУ - РЕФАКТОРИНГ */
  /* Часть для Кнопок ВНИЗУ - РЕФАКТОРИНГ */  
    /* Часть для Кнопок ВНИЗУ - РЕФАКТОРИНГ */
      /* Часть для Кнопок ВНИЗУ - РЕФАКТОРИНГ */
        /* Часть для Кнопок ВНИЗУ - РЕФАКТОРИНГ */
          /* Часть для Кнопок ВНИЗУ - РЕФАКТОРИНГ */


          .bottom-menu {
            position: fixed; /* Зафиксировать кнопки внизу при прокрутке */
            bottom: 0;
            left: 50%; /* Помещаем в середину */
            transform: translateX(-50%); /* Центрируем горизонтально */
            width: 100%;
            max-width: 500px; /* Максимальная ширина 600px */
            background-color: #f2f2f2;
            display: flex;
            justify-content: space-evenly; /* равномерное распределение кнопок */
            padding: 10px 0;
            z-index: 1000; /* Позволяет кнопкам оставаться поверх другого контента */
            background-color: #102727; 
            }
            
            .bottom-menu button {
                background-color: #102727;
                color: white;
                border: none;
                text-align: center;
                text-decoration: none;
                display: flex; /* Использовать flexbox */
                flex-direction: column; /* рассположение элементов по вертикали */
                align-items: center; /* выравнивание элементов по центру */
                justify-content: center; /* выравнивание элементов по центру */
                font-size: 9px;
                cursor: pointer;
                padding: 5px 5px;
                border-radius: 10px;
                width: 70px; /* задаем фиксированную ширину кнопок */
                height: 45px; /* задаем фиксированную высоту кнопок */
              }
              
              .bottom-menu button img {
                margin-bottom: 5px; /* добавляем отступ снизу для размещения иконки поверх текста */
                height: 20px;
                width: 20px;
              }
            
            .bottom-menu a {
                text-decoration: none; /* убираем подчеркивание текста на ссылках внутри .bottom-menu */
            }
            